<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <title>{{ site.title }}</title>
    <meta name="author" content="Paul Carrier" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <div id="header-wrap" class="outer">
        <header class="inner">
            <h1 id="project_title">Paul M Carrier</h1>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
        <section id="main_content" class="inner">
        {{ content }}
        </section>
    </div>

    <!-- Footer -->
    <div id="footer-wrap" class="outer">
        <footer class="inner">
            <p>
                Paul Carrier
                <br />
                Senior Software Engineer currently at:
                <a href="https://dmedmedia.disney.com/about-dmed">Disney Media and Entertainment Distribution</a>
                <br />
            </p>
            <p>
                <a href="http://github.com/paulmcarrier/">github.com/paulmcarrier</a><br />
                <a href="http://twitter.com/paulmcarrier/">twitter.com/paulmcarrier</a><br />
            </p>
        </footer>
    </div>
</body>
</html>
